th,td{
    border: 
    3px solid black;

}
th{background-color: rgb(99, 157, 224);

}
td{background-color: rgb(252, 152, 3);

}

.disponivel{
    background-color: greenyellow;
}

.indisponivel{
    background-color: red;
}

